h2.Header2 Projects
ul
  li 
    a(href='https://github.com/dawnerd/Gord') Gord
    |  &mdash; An object conversion thingy.
  
  li
    a(href='https://github.com/dawnerd/CrunchTune') CrunchTune
    |  &mdash; A music service built on the rdio api using nodejs.

  li
    a(href='https://github.com/dawnerd/That-sWutSheSaid') That's Wut She Said
    |  &mdash; iPad app that was declined by Apple.

  li
    a(href='https://github.com/dawnerd/textmate-uibundle') Textmate UI Bundle
    |  &mdash; tmbundle containing helpful snippets for Textmate.

  li
    a(href='https://github.com/dawnerd/ThinBox') ThinBox
    |  &mdash; An alternative to ThickBox.