!!! 5
html
  head
    title TROY IS AWESOME - #{title}
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    div#header
      div.wrap
        h1.Header1 TROY IS AWESOME
        div.tag.Note *most of the time

    div#main!= body

    div#footer
      p.Note copyright bullshit.